.App {
  text-align: center;
}

.pokeimg {
  height: 120px; 
  margin: 0 auto;
  display: block;
  max-width:150px;
}


.card-header {
  background-color: #fe0001;
  color: black;

}

.Form-header {
  height:200px;
  width:100%;
  background-color: #fe0001;
  color: black
}