.App {
  text-align: center;
}

.head{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center
}

.pokeimg {
  height: 120px; 
  margin: 15px auto;
  display: block;
  max-width:150px;
}

.card {
  background-color: black;
  box-shadow:8px 10px 8px #0000006e;
  margin-bottom:1rem !important;
}

.container-fluid {
  padding-top: 20px
}

.card-header {
  background-color: #fe0001;
  color: black;

}

.Form-header {
  height:200px;
  width:100%;
  background-color: #fe0001;
  color: black
}

